<p>with-draw works!</p>
<div>
    
        <form [formGroup]="withdrawform"(ngSubmit)="onSubmit(withdrawform)">
 
            <!-- <p>
              <label for="AccountId">AccountId: </label>
              <input type="text" id="AccountId" name="AccountId" formControlName="AccountId">
            </p> -->
           
            <p>
              <label for="amount"> Withdrawal Amount:</label>
              <input type="text" id="amount" name="amount" formControlName="amount">
            </p>
           
            <p>
              <label for="ServiceId">Service Type:</label>
              <select id="ServiceId" name="ServiceId" formControlName="ServiceId">
                <option value="1">NEFT</option>
                <option value="2">RTGS</option>
                <option value="3">IMPS</option>
              </select>  
            </p>
           
            
           
           
            <p>
              <button type="submit">Submit</button>
            </p>
           
          </form>
    
</div>
