<!-- <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5"> -->
<div class="center">
  <div class="row gx-lg-5 align-items-center mb-5">
    <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
      <img src="../../../assets/Images/ForgotPassword.png" width="500" length="500">
    </div>
    <div class="col-lg-6 mb-5 mb-lg-0 position-relative">

      <div class="card">
        <div class="card-body px-4 py-5 px-md-5">
          <form #forgotpasswordform="ngForm" (submit)="ForgotPassword()">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label for="form3Example3">Email Address</label>
              <input type="email" name="emailId" [(ngModel)]="email.to" #emailId=ngModel id="form3Example3" class="form-control border border-dark" />
              <span class="text-danger" *ngIf="emailId.touched && emailId.invalid">*Required</span>
            </div>
            <!-- Submit button -->
            <input type="submit" value="Send Email" class="btn btn-primary btn-block mb-4"
              [disabled]="!forgotpasswordform.valid" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>