.btn-primary{
    background-color: rgb(146, 239, 208);
    border-color: rgb(146, 239, 208);
    color: black;
  }
  
  img{
    float:left;
    padding-right: 30px;
  }
  
  .center {
    margin: auto;
    width: 80%;
    padding: 140px 50px 0px 80px;
  }

  .card{
    background-color: #f0286b1c;
  }