.center {
    margin: auto;
    width: 50%;
    padding: 110px 0px 0px 0px;
  }

  .btn-primary {
    background-color: #f50057;
    border-color: #f50057;
    /* width: 500px; */
    /* width: max-content; */
}

.card{
    width: 500px
}

