<div class="center">
    <button type="button" class="btn btn-elegant bg-black text-white btn-lg"><i class="fas fa-money-check"></i> View
        Account
        Details </button>
    <br>
    <span class="space"></span>
    <br />
    <button type="button" class="btn btn-elegant bg-black text-white btn-lg"><i class="fas fa-right-left"></i> View
        Transactions </button>
    <br>
    <span style="height: 100px"></span>
    <br />
    <button type="button" class="btn btn-elegant bg-black text-white btn-lg"><i
            class="fa-sharp fa-solid fa-receipt"></i> View Account Statement </button>
</div>