<div class="center">    
    <button (click) = 'CustomerHomeRoute()'>Customer Home</button>
    <div class="row" style="display:flex">
        <div class="card">
            <img src="../../../../assets/Images/undraw_Account_re_o7id.png" class="card-img-top" alt="...">
            <div class="card-body">
                <!-- <h5 class="card-title">Card with stretched link</h5> -->
                <div class="center-btn">
                    <a [routerLink]="['/AccountDetails',accId]" class="btn btn-primary stretched-link">Account Details</a>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="../../../../assets/Images/undraw_Payments_re_77x0.png" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="center-btn">
                    <a routerLink="/AccountStatement" class="btn btn-primary stretched-link">Account Statement</a>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="../../../../assets/Images/undraw_online_transactions_02ka.png" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="center-btn">
                    <a routerLink="/AccountTransactions" class="btn btn-primary stretched-link">Account Transactions</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row" style="display:flex">
        <div class="card">
            <img src="../../../../assets/Images/Wallet_Monochromatic.png" class="card-img-top" alt="...">
            <div class="card-body">
                <!-- <h5 class="card-title">Card with stretched link</h5> -->
                <div class="center-btn">
                    <a routerLink="/Withdraw" class="btn btn-primary stretched-link">Withdraw</a>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="../../../../assets/Images/Piggy bank_Monochromatic.png" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="center-btn">
                    <a routerLink="/Deposit" class="btn btn-primary stretched-link">Deposit</a>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="../../../../assets/Images/Money transfer _Flatline.png" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="center-btn">
                    <a routerLink="/Transfer" class="btn btn-primary stretched-link">Transfer</a>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- <router-outlet></router-outlet> -->