*{
    font-family: 'Crimson Text', serif;
    color:red
}

.center {
    margin: auto;
}

.accMenuBtn{
    float:right;
    /* width: fit-content; */
    background-color: #f50057;
    border-color: #f50057;
    height: 40px;    
    font-size: large;
    color: white;

}

img{
    height: 600px; 
    width: 230px;
    /* margin-top: 5px; */
    /* margin-left: 100px; */
    float: left;
}

th{
    width: 150px;
    padding:5px;
}
td{
    margin-left: 50px;
    padding: 5px;
}

.slogan{
    margin-top:90px;
    margin-left: 240px;
    font-family:'Alkatra', cursive;
    font-size: 75px;
    font-style: italic;
    font-weight: bold;
    background: -webkit-linear-gradient(white, #DE5D83);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


table{
    margin-top:30px;
    margin-left: 150px;
    font-size: 20px;
}


.accOutline{
    display: flex;
    /* justify-content: space-between; */
    border: 2px solid #f50057;
    /* width: fit-content; */
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;

}