<!-- <p>gettransaction works!</p>



AccountId:{{Transaction.accountId}}
ServiceId: {{Transaction.serviceId}},
TransactionStatusId:{{Transaction.refTransactionStatusId}},
TransactionTypeId: {{Transaction.refTransactionTypeId}},
PaymentMethodId: {{Transaction.refPaymentMethodId}},
DateOfTransaction: {{Transaction.dateOfTransaction}},
AmountOfTransaction: {{Transaction.amountOfTransaction}} -->

<div class="accOutline">
    <!-- <div>
        <img src="C:\Users\Admin\Downloads\WhatsApp Image 2023-04-07 at 4.17.27 PM.jpeg">
    </div> -->

    <div>
        <p class="slogan">
            Grow with us ...
        </p>
    <table>
        <tr>
            <th>TransactionId</th>
            <td> {{Transaction.transactionId}} </td>
        </tr>
        <tr>
            <th>AccountId</th>
            <td> {{Transaction.accountId}} </td>
        </tr>
        <tr>
            <th>Type of Service</th>
            <td> {{Transaction.serviceId}} </td>
            <span *ngIf="Transaction.serviceId == 1">NEFT</span>
                    <span *ngIf="Transaction.serviceId == 2">RTGS </span>
                    <span *ngIf="Transaction.serviceId == 3">IMPS </span>
        </tr>

        <tr>
            <th>Transaction Status</th>
            <span *ngIf="Transaction.refTransactionStatusId == 1">Transaction Success</span>
                    <span *ngIf="Transaction.refTransactionStatusId == 2">Transaction Failed </span>
                    <span *ngIf="Transaction.refTransactionStatusId == 3">Withdrawal Limit Amount Exceeded </span>
                    <span *ngIf="Transaction.refTransactionStatusId == 4">Insufficient Balance </span>
            
            <!-- <td> {{accDet.accountTypeId}} </td> -->
        </tr>
        <tr>
            <th>Transaction Type</th>
            <td> 
                
                <span *ngIf="Transaction.refTransactionTypeId == 1"> Deposit </span>
                    <span *ngIf="Transaction.refTransactionTypeId == 2"> Withdraw </span>
                    <span *ngIf="Transaction.refTransactionTypeId == 3"> Transfer</span>
            </td>
        </tr>
        <tr>
            <th>Payment Method</th>
            <td> <span *ngIf="Transaction.refPaymentMethodId == 1">Card</span>
                <span *ngIf="Transaction.refPaymentMethodId == 2">Net Banking </span> </td>
        </tr>
        <tr>
            <th>Date Of Transaction</th>
            <td> {{Transaction.dateOfTransaction |  date:'short'}} </td>
        </tr>

        <tr>
            <th>Transaction Amount</th>
            <td> &#8377; {{Transaction.amountOfTransaction
                | number : '1.2-2'}}</td>
        </tr>
    </table>
    </div>
</div>