<!-- <p>{{msg}}</p>
<div *ngFor="let t of transactionsDTO">
    <p>{{t|json}}</p>
</div> -->

<div class="center">
    <table class="table table-hover">
        <thead>
            <th> Transaction ID </th>
            <th> CounterParty ID </th>
            <th> Account ID </th>
            <th> Service ID </th> 
            <th> PaymentMethod ID</th>
            <th> Date Of Transaction</th>
            <th> Amount Of Transaction</th>
            <th></th>
        </thead>
        <tbody *ngFor="let t of transactionsDTO">
            <tr>
                <td> {{ t.transactionId }} </td>
                <td>{{t.counterPartyId}}</td>
                <td>{{ t.accountId }}</td>
                <td>
                    <span> {{GetServiceTypeLabel(t.serviceId)}}</span>
                </td>
                <td>
                    <span *ngIf="t.refPaymentMethodId == 1">Card </span>
                    <span *ngIf="t.refPaymentMethodId == 2">Net Banking</span>
                </td>
                <td>{{t.dateOfTransaction}}</td>
                <td>
                    ₹{{t.amountOfTransaction}}
                    <span *ngIf="t.refTransactionTypeId == 1"> <i class="fas fa-caret-down fa-2xl"></i> </span>
                    <span *ngIf="t.refTransactionTypeId == 2"> <i class="fas fa-caret-up fa-2xl"></i> </span>
                    <span *ngIf="t.refTransactionTypeId == 3"> <i class="fa fa-exchange fa-xl"></i></span>
                </td>
                <td>
                    <a [routerLink]="['/gettransactionbytransactionId',t.transactionId]">
                        <!-- <div class="tooltip">
                        <span class="tooltipText">More details</span> -->
                        <i class="fa-solid fa-circle-info fa-2xl"></i>
                        <!-- </div> -->
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <!-- <pagination [boundaryLinks]="true" [totalItems]="77"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

    </pagination> -->
    </div>
    
</div>