<div class="center">
    <table class="table table-hover" id="StatementTable">
        <thead>
            <th> Date </th>
            <th> Value Date </th>
            <th> Narration </th>
            <th> Ref No.</th>
            <th> Withdraw</th> 
            <th> Deposit </th>
            <th> Balance </th>
        </thead>
        <tbody *ngFor="let s of AccStatement">
            <tr>
                <td> {{ s.date }} </td>
                <td> {{ s.valueDate}} </td>
                <td> {{ s.narration }}</td>
                <td> {{ s.refNo }}</td>
                <td *ngIf="s.withdrawal != 0">&#8377; {{ s.withdrawal}} </td>
                <td *ngIf="s.withdrawal == 0"> &nbsp;  </td>
                <td *ngIf="s.deposit != 0">&#8377; {{ s.deposit}}</td>
                <td *ngIf="s.deposit == 0"> &nbsp;</td>
                <td> &#8377; {{ s.closingBalance}}</td>       
            </tr>
        </tbody>
    </table>
</div>
<div>
    <button (click)="PrintStatement()">Print</button>
</div>

