<div class="center">
    <table class="table table-hover" id="StatementTable">
        <thead>
            <th> Date </th>
            <th> Value Date </th>
            <th> Narration </th>
            <th> Ref No.</th>
            <th> Withdraw</th> 
            <th> Deposit </th>
            <th> Balance </th>
        </thead>
        <tbody *ngFor="let s of AccStatement">
            <tr>
                <td> {{ s.date | date:'short'}} </td>
                <td> {{ s.valueDate | date:'short'}} </td>
                <td> {{ s.narration }}</td>
                <td> {{ s.refNo }}</td>
                <td *ngIf="s.withdrawal != 0">&#8377; {{ s.withdrawal | number : '1.2-2'}} </td>
                <td *ngIf="s.withdrawal == 0"> &nbsp;  </td>
                <td *ngIf="s.deposit != 0">&#8377; {{ s.deposit | number : '1.2-2'}}</td>
                <td *ngIf="s.deposit == 0"> &nbsp;</td>
                <td> &#8377; {{  s.closingBalance | number : '1.2-2'}}</td>       
            </tr>
        </tbody>
    </table>
    <button (click)="PrintStatement()" class="btn-primary"><i class="fa fa-print"></i>  Print  </button>
</div>


