<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/HomePage">
        <img src="../../assets/Images/EuroBank.jpeg" height="40" alt="EuroBank Logo"  />
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li *ngIf="isUserLoggedIn() == false" class="active">
        <a routerLink="/EmployeeLogin"> Employee Login
        </a>
    </li>
    <li *ngIf="isUserLoggedIn() == false" class="active">
      <a routerLink="/CustomerLogin"> Customer Login
      </a>
    </li>
      <li *ngIf="isUserLoggedIn()" class="active"><a (click)="user_logout()">
          <i class="fa fa-sign-out" aria-hidden="true"> 
            <span style="width:5px"></span>
            Logout</i></a>
      </li>
    </ul>
  </div>
</nav>