<div class="accOutline">
    <div>
        <img src="../../../../assets/Images/logo.png">
    </div>

    <div>
        <p class="slogan">
            Grow with us
        </p>
    <table>
        <tr>
            <th>Account ID</th>
            <td> {{accDet.accountId}} </td>
        </tr>
        <tr>
            <th>Account Type</th>
            <td> {{accDet.accountTypeId}} </td>
        </tr>
        <tr>
            <th>Date Created</th>
            <td> {{accDet.dateCreated}} </td>
        </tr>
        <tr>
            <th>Balance</th>
            <td> {{accDet.balance}}</td>
        </tr>
    </table>
    </div>
</div>