  <div class="center">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <img src="../../../../assets/Images/Login.png" width="500" length="500">
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">

        <div class="card">
          <div class="card-body px-4 py-5 px-md-5">
            <form #registerform="ngForm" (submit)="register()">
              <!-- <p class="text-danger">{{this.msg}}</p> -->
              <div class="form-outline mb-4">
                <label for="form3Example1">First Name</label>
                <input type="text" name="firstname" [(ngModel)]="empregister.firstname" #firstname=ngModel id="form3Example1" class="form-control border border-dark" />
                <span class="text-danger" *ngIf="firstname.touched && firstname.invalid">*Required</span>
              </div>

              <div class="form-outline mb-4">
                <label for="form3Example2">Last Name</label>
                <input type="text" name="lastname" [(ngModel)]="empregister.lastname" #lastname=ngModel id="form3Example2" class="form-control border border-dark" />
                <span class="text-danger" *ngIf="lastname.touched && lastname.invalid">*Required</span>
              </div>
              
              <div class="form-outline mb-4">
                <label for="form3Example3">Email Address</label>
                <input type="email" name="emailId" [(ngModel)]="empregister.emailId" #emailId=ngModel id="form3Example3" class="form-control border border-dark" />
                <span class="text-danger" *ngIf="emailId.touched && emailId.invalid">*Required</span>
              </div>

              
              <div class="form-outline mb-4">
                <label for="form3Example4">Password</label>
                <input type="password" name="password" [(ngModel)]="empregister.password" #password="ngModel" id="form3Example4" class="form-control border border-dark" />
                <span class="text-danger" *ngIf="password.touched && password.invalid">*Required</span>
              </div>
              <br>
              <br>
              <input type="submit" value="Register" class="btn btn-primary btn-block mb-4" [disabled]="!registerform.valid"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>