<app-navbar [ParentRole]="role"></app-navbar>
<!-- Employee
<nav>
    <ul>
      <li><a routerLink="/EmployeeRegister" routerLinkActive="active" ariaCurrentWhenActive="page">Employee Register</a></li>
      <li><a routerLink="/EmployeeLogin" routerLinkActive="active" ariaCurrentWhenActive="page">Employee Login</a></li>
      <li><a routerLink="/GetAllCustomers" routerLinkActive="active" ariaCurrentWhenActive="page">Get Customers</a></li>
      <li><a routerLink="/GetAllTransactions" routerLinkActive="active" ariaCurrentWhenActive="page">Get Transactions</a></li>
      <li><a routerLink="/GetAllAccounts" routerLinkActive="active" ariaCurrentWhenActive="page">Get Accounts</a></li>
    </ul>
  </nav>-->
<router-outlet></router-outlet>

