<!-- 
Employee
<nav>
    <ul>
      <li><a routerLink="/EmployeeLogin" routerLinkActive="active" ariaCurrentWhenActive="page">Employee Login</a></li>
      <li><a routerLink="/GetAllCustomers" routerLinkActive="active" ariaCurrentWhenActive="page">Get Customers</a></li>
      <li><a routerLink="/GetAllTransactions" routerLinkActive="active" ariaCurrentWhenActive="page">Get Transactions</a></li>
      <li><a routerLink="/GetAllAccounts" routerLinkActive="active" ariaCurrentWhenActive="page">Get Accounts</a></li>
    </ul>
  </nav>
Customer

<li><a routerLink="/CustomerLogin" routerLinkActive="active" ariaCurrentWhenActive="page">Customer Login</a></li>
<li><a routerLink="Getcustomer" routerLinkActive="active" ariaCurrentWhenActive="page">Get Customer</a></li>
<li><a routerLink="Getaccount" routerLinkActive="active" ariaCurrentWhenActive="page">Get Customer Accounts</a></li>
Accounts
<li><a routerLink="/AccountDetails" routerLinkActive="active" ariaCurrentWhenActive="page">acc menu</a></li>
<br/>
Transactions
<li><a routerLink="/Withdraw" routerLinkActive="active" ariaCurrentWhenActive="page">Withdraw</a></li>
<li><a routerLink="/Deposit" routerLinkActive="active" ariaCurrentWhenActive="page">Deposit</a></li>
<li><a routerLink="/Transfer" routerLinkActive="active" ariaCurrentWhenActive="page">Transfer</a></li>
<router-outlet>
  
</router-outlet> -->


<!DOCTYPE html>
<html lang="en">
<!-- <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bootstrap Beautifications</title>
	 Bootstrap CSS 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous">
	 Font Awesome Icons 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
		integrity="sha512-bU6kXr9VpUxNL+NhPtVZ1Kzo4N4MQsC4oysTqlv+i8WGGn1QbG/ehzzn1QH8ZJhbnP+RyywGuEAzEjKLyJW8g=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	 Custom CSS 
	<link rel="stylesheet" href="style.css">
</head>--> 
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container">
				<a class="navbar-brand" href="#">EUROBANK</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" routerLink="home">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">CUSTOMER</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">EMPLOYEE</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">RESET</a>
            </li>

					</ul>
				</div>
			</div>
		</nav>
	</header>
  <router-outlet></router-outlet>

	<main>
		<section class="jumbotron text-center">
			<div class="container">
				<h1 class="jumbotron-heading">Bootstrap Beautifications</h1>
				
			</div>
		</section>

		<section class="container">
			<div class="row">
				<div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-body">
							<h4 class="card-title">Card Title</h4>
							<p class="card-text">Lorem
