<div class="center">
    <div *ngIf="!showTable" class="no-records">
        {{msg}}
        <img src="assets/Images/Empty Inbox _Outline.png">
    </div>
    <table *ngIf="showTable" class="table table-hover" id="StatementTable">
        <thead>
            <th> Transaction ID </th>
            <!-- <th> Counterparty ID </th>
            <th> Account ID </th> -->
            <th> Service</th>
            <!-- <th> Status </th> -->
            <th> Payment Method</th>
            <th> Transaction Status</th>
            <th> Date</th> 
            <th> Amount </th>
            <th></th>
        </thead>
        <tbody *ngFor="let t of customerTransactions">
            <tr [routerLink]="['/gettransactionbytransactionId',t.transactionId]">
                <td> {{ t.transactionId }} </td>
                <!-- <td>{{t.counterPartyId}}</td>
                <td>{{t.accountId}}</td> -->
                <td>
                    <span *ngIf="t.serviceId == 1">NEFT</span>
                    <span *ngIf="t.serviceId == 2">RTGS</span>
                    <span *ngIf="t.serviceId == 3">IMPS</span>
                </td>
               
                <!-- <td>{{t.refTransactionStatusId}}</td> -->
                <!-- <td>{{t.refTransactionTypeId}}</td> -->
                <td>
                    <span *ngIf="t.refPaymentMethodId == 1">Card </span>
                    <span *ngIf="t.refPaymentMethodId == 2">Net Banking</span>
                </td>
                <td>
                    <span *ngIf="t.refTransactionStatusId == 1" style="color: green;"><i class="fa fa-check" aria-hidden="true"></i></span>
                    <span *ngIf="t.refTransactionStatusId != 1" style="color: red;"><i class="fa fa-times" aria-hidden="true"></i></span>
                </td>
                <td>{{t.dateOfTransaction | date : 'short'}}</td>
                <td>&#8377; {{t.amountOfTransaction | number : '1.2-2'}}
                    
                    <span *ngIf="t.refTransactionStatusId == 1">
                        <span *ngIf="t.refTransactionTypeId == 1"> <i class="fas fa-caret-down fa-2xl"></i> </span>
                    <span *ngIf="t.refTransactionTypeId == 2"> <i class="fas fa-caret-up fa-2xl"></i> </span>
                    <span *ngIf="t.refTransactionTypeId == 3"> <i class="fa fa-exchange fa-xl"></i></span>
                    </span>
                </td>
                <td>
                    <a [routerLink]="['/gettransactionbytransactionId',t.transactionId]">
                        <!-- <div class="tooltip">
                        <span class="tooltipText">More details</span> -->
                        <i class="fa-solid fa-circle-info fa-2xl"></i>
                        <!-- </div> -->
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    $('#StatementTable').DataTable()
</script>