Employee
<nav>
    <ul>
      <li><a routerLink="/EmployeeRegister" routerLinkActive="active" ariaCurrentWhenActive="page">Employee Register</a></li>
      <!-- <li><a routerLink="/EmployeeLogin" routerLinkActive="active" ariaCurrentWhenActive="page">Employee Login</a></li> -->
      <li><a routerLink="/GetAllCustomers" routerLinkActive="active" ariaCurrentWhenActive="page">Get Customers</a></li>
      <li><a routerLink="/GetAllTransactions" routerLinkActive="active" ariaCurrentWhenActive="page">Get Transactions</a></li>
      <li><a routerLink="/GetAllAccounts" routerLinkActive="active" ariaCurrentWhenActive="page">Get Accounts</a></li>
    </ul>
  </nav>


 <!-- <div class="center">

    <div class="row" style="display:flex">

        <div class="card">
            <img src="../../../../assets/Images/undraw_Account_re_o7id.png" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="center-btn">
                    <a routerLink="/AccountDetails" class="btn btn-primary stretched-link">Account Details</a>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="../../../../assets/Images/undraw_Payments_re_77x0.png" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="center-btn">
                    <a routerLink="/AccountStatement" class="btn btn-primary stretched-link">Account Statement</a>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="../../../../assets/Images/undraw_online_transactions_02ka.png" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="center-btn">
                    <a routerLink="/AccountTransactions" class="btn btn-primary stretched-link">Account Transactions</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <router-outlet></router-outlet> --> 