  <div class="center">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <img src="../../../../assets/Images/Login.png" width="500" length="500">
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">

        <div class="card">
          <div class="card-body px-4 py-5 px-md-5">
            <form #createcustomerform="ngForm" (submit)="createCustomer()">
              <p>{{this.msg}}</p>
              <div class="form-outline mb-4">
                <label for="form3Example1">Customer Id</label>
                <input type="text" name="customerId" [(ngModel)]="customer.customerId" #customerId=ngModel class="form-control border border-dark" id="form3Example1" required/>
              </div>

              <div class="form-outline mb-4">
                <label for="form3Example2">Email Address</label>
                <input type="email" name="emailId" [(ngModel)]="customer.emailId" #emailId=ngModel class="form-control  border border-dark" id="form3Example2" required/>
              </div>

              <div class="form-outline mb-4">
                <label for="form3Example3">First Name</label>
                <input type="text" name="firstname" [(ngModel)]="customer.firstname" #firstname=ngModel class="form-control  border border-dark" id="form3Example3" required/>
              </div>

              <div class="form-outline mb-4">
                <label for="form3Example4">Last Name</label>
                <input type="text" name="lastname" [(ngModel)]="customer.lastname" #lastname=ngModel class="form-control  border border-dark" id="form3Example4" required/>
              </div>

              <div class="form-outline mb-4">
                <label for="form3Example5">Address</label>
                <input type="text" name="address" [(ngModel)]="customer.address" #address=ngModel class="form-control  border border-dark" id="form3Example5" required/>
              </div>

              <div class="form-outline mb-4">
                <label for="form3Example6">Phone</label>
                <input type="text" name="phone" [(ngModel)]="customer.phone" #phone=ngModel maxlength="10" class="form-control  border border-dark" id="form3Example6" required/>
              </div>

              <div class="form-outline mb-4">
                <label for="form3Example7">Password</label>
                <input type="password" name="passwd" [(ngModel)]="customer.password" #passwd=ngModel class="form-control  border border-dark" id="form3Example7" required/>
              </div>

              <div class="form-outline mb-4">
                <label for="form3Example8">Pan Number</label>
                <input type="text" name="pannumber" [(ngModel)]="customer.panNumber" #pannumber=ngModel class="form-control  border border-dark" maxlength="10" id="form3Example8" required/>
              </div>

              <div class="form-outline mb-4">
                <label for="form3Example9">DOB</label>
                <input type="date" name="dob" [(ngModel)]="customer.dob" #dob=ngModel class="form-control  border border-dark" id="form3Example9" required/>
              </div>
              <br>
              <br>
              <input type="submit" value="Create" class="btn btn-primary btn-block mb-4" [disabled]="!createcustomerform.valid"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>  