<div class="accOutline">
    <div>
        <img src="../../../../assets/Images/logo.png">
    </div>

    <div>
        <div class="card bg-class">
            <table>
                <tr>
                    <th>Customer ID</th>
                    <td> {{customer[0].customerId}} </td>
                </tr>
                <br /><br/>
                <tr>
                    <th>Email Address</th>
                    <td>{{customer[0].emailId}}</td>
                </tr>
                <br /><br/>
                <tr>
                    <th>First Name</th>
                    <td>{{customer[0].firstname}}</td>
                </tr>
                <br /><br/>
                <tr>
                    <th>Last Name</th>
                    <td>{{customer[0].lastname}}</td>
                </tr>
                <br /><br/>
                <tr>
                    <th>Address</th>
                    <td>{{customer[0].address}}</td>
                </tr>
                <br /><br/>
                <tr>
                    <th>Phone</th>
                    <td>{{customer[0].phone}}</td>
                </tr>
                <br /><br/>
                <tr>
                    <th>Pan Number</th>
                    <td>{{customer[0].panNumber}}</td>
                </tr>
                <br /><br/>
                <tr>
                    <th>DOB</th>
                    <td>{{customer[0].dob | date }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>