 <div class="center">  
    <div class="row" style="display:flex">
        <div class="card">
            <img src="../../../../assets/Images/CustomerAccount.png" class="card-img-top" alt="...">
            <div class="card-body">
               
                <div class="center-btn">
                    <a routerLink="/Getcustomer" class="btn btn-primary stretched-link">My Accounts</a>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="../../../../assets/Images/Statement.png" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="center-btn">
                    <a routerLink="/statement" class="btn btn-primary stretched-link">My Statement</a>
                </div>
            </div>
        </div> 
        <div class="card">
            <img src="../../../../assets/Images/transactions.png" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="center-btn">
                    <a routerLink="/viewtransaction" class="btn btn-primary stretched-link">My Transactions</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row" style="display:flex">
        <div class="card last-card">
            <img src="../../../../assets/Images/Analysis.png" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="center-btn">
                    <a routerLink="/CustomerAnalysis" class="btn btn-primary stretched-link"> Analysis</a>
                </div>
            </div>
        </div>
    </div>
</div> 


        
