

<div class="center">
    <div>
        <button class="center-btn" style="background-color:#f50057;color:white;" (click)="serviceCharges()"> Apply Service Charges</button>
    </div>
    <br>
    <br>
    
    <table class="table">
        <thead>
            <th> Account ID </th>
            <th> Account Type </th>
            <th> Customer ID </th>
            <th> Date Created</th> 
            <th> Balance </th>
        </thead>
        <tbody *ngFor="let t of accountsDTO">
            <tr>
                <td> {{ t.accountId }} </td>
                <td *ngIf="t.accountTypeId == 1">Savings</td>
                <td *ngIf="t.accountTypeId == 2">Current</td>
                <td>{{t.customerId}}</td>
                <td>{{t.dateCreated | date : 'short'}}</td>
                <td>₹{{t.balance}}</td>
            </tr>
        </tbody>
    </table>
</div>