<!-- Employee
<nav>
    <ul>
      <li><a routerLink="/EmployeeRegister" routerLinkActive="active" ariaCurrentWhenActive="page">Employee Register</a></li>
      <li><a routerLink="/EmployeeLogin" routerLinkActive="active" ariaCurrentWhenActive="page">Employee Login</a></li>
      <li><a routerLink="/GetAllCustomers" routerLinkActive="active" ariaCurrentWhenActive="page">Get Customers</a></li>
      <li><a routerLink="/GetAllTransactions" routerLinkActive="active" ariaCurrentWhenActive="page">Get Transactions</a></li>
      <li><a routerLink="/GetAllAccounts" routerLinkActive="active" ariaCurrentWhenActive="page">Get Accounts</a></li>
    </ul>
  </nav> -->


 <div class="center">

    <div class="row" style="display:flex">

        <div class="card">
            <img src="../../../assets/Images/EmployeeRegister.png" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="center-btn">
                    <a routerLink="/EmployeeRegister" class="btn btn-primary stretched-link">Employee Register</a>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="../../../assets/Images/CreateCustomer.png" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="center-btn">
                    <a routerLink="/CreateCustomer" class="btn btn-primary stretched-link">Create Customer</a>
                </div>
            </div>
        </div>
        
        <div class="card">
            <img src="../../../assets/Images/vault.png" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="center-btn">
                    <a routerLink="/CreateAccount" class="btn btn-primary stretched-link">Create Account</a>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="../../../assets/Images/Customers.png" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="center-btn">
                    <a routerLink="/GetAllCustomers" class="btn btn-primary stretched-link">Customers</a>
                </div>
            </div>
        </div>

        <div class="card">
          <img src="../../../assets/Images/Accounts.png" class="card-img-top" alt="...">
          <div class="card-body">
              <div class="center-btn">
                  <a routerLink="/GetAllAccounts" class="btn btn-primary stretched-link">Accounts</a>
              </div>
          </div>
        </div>
        <div class="card">
            <img src="../../../assets/Images/AllTransactions.png" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="center-btn">
                    <a routerLink="/GetAllTransactions" class="btn btn-primary stretched-link">Transactions</a>
                </div>
            </div>
        </div>
    </div>
</div> 
<router-outlet></router-outlet> 