<body>
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <img src="../../../assets/Images/ForgotPassword.png" width="500" length="500">
        </div>
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
  
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              <form #resetpasswordform="ngForm" (submit)="ResetPassword()">
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" name="emailId" [(ngModel)]="user.email" #emailId=ngModel id="form3Example3" class="form-control" required />
                  <label class="form-label" for="form3Example3">Email address</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="password" name="emailId" [(ngModel)]="user.password" #emailId=ngModel id="form3Example3" class="form-control" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"/>
                    <label class="form-label" for="form3Example3">New Password</label>
                    <span class="text-danger" *ngIf="emailId.touched && emailId.invalid">*Password shold contain minimum 8 characters with 1 capital letter and special character and number</span>
                  </div>
                <!-- Submit button -->
                <input type="submit" value="Change Password" class="btn btn-primary btn-block mb-4" [disabled]="!resetpasswordform.valid"/>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>